//$color-1: #e10a0a;
//$color-1-darker: #b01f24;
//
//$color-2: #2d2d2d;

$color-1: #d22042;
$color-1-lighter: #d94763;
$color-1-darker: #b01f24;

$color-1-a: #b20022;
$color-1-b: #f80000;
$color-1-c: #f87230;
$color-1-d: #f8a278;

$color-2: #1d1313;
$color-2-lighter: #1d1313;

$color-3: #1a7ea4;

$color-10: #f2c94e;

$color-4: #fff;
$color-5: #000;
$color-6: #333;
$color-7: #f5f5f2;
$color-8: #fefefe;
$color-9: #eee;
$color-11: #cbcecd;
$color-12: gray;
$color-13: #ddd;


