:root {
  --leftbar-size: 30px;
}

body {
  overflow: hidden;
}

.day-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  background-color: #7f828b;
  height: 44px;
}

.day-task-container {
  background-color: orange;
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.day-task-container .task-type-unit {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}

.day-task-container .task-type-unit .task-type-bar {
  flex: 0 0 var(--leftbar-size);
  background-color: blueviolet;
}

.day-task-container .task-type-unit .day-task-view {
  flex: 1 0 auto;
  background-color: green;
  display: flex;
  flex-direction: column;
}

.day-task-container .task-type-unit .day-task {
  flex: 0 0 30px;
  position: relative;
}

.day-task-container .task-type-unit .day-task .day-task-inner {
  font-size: 13px;
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 5px;
  background-color: orange;
  padding: 0 10px;
}

.footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}

.footer .fun-area {
  flex: 0 0 var(--leftbar-size);
}

.footer .day-time-bar {
  flex: 1 0 auto;
  background-color: #3b8070;
}
